/*Estilos Generales*/
body {
  background-color: #000;
  position: relative;
}
h2{
  color:#fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
p{
  color: #fff;
}
.container .row {padding-top: 200px;padding-bottom: 200px;}
/*BGVID*/
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/inter.jpg) no-repeat;
    background-size: cover;
}
/*Navegación*/
.navbar.scrolled{
  background-color: #000 !important;
  transition: background-color 200ms linear;
}
.nav .nav-item .nav-link.active{
  border-bottom: 3px solid #ad1919;
}
.navbar-brand {
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: .25rem;
    margin-left: 2.5rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.nav {
    padding-right: 50px;
    padding-top: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

/*Seccion FLOD*/
#flod {
  background-color: black;
}
/*Seccion Proyecto */
#beatminds .container .row p:first-child{
  margin-top:20px;
}
/*Secciones Social Media*/
#youtube {
  background-color: #cb0101;
  display: none;
}
/*Secciones Participantes*/
#participantes {
}
